ul.top-menu {
	list-style: none;
	background-color: #666;
}

ul.top-menu li {
	display: inline-block;
	padding:12px 0px;
}

ul.top-menu li a {
	padding:14px;
	color: silver;
	text-decoration: none;
}

ul.top-menu li a:hover , ul.top-menu li a.active {
	color: #fff;
	background-color: #333;
}

img {
	width: 100%;
}

.hamsterImage {
	height: 280px;
}